@import "tailwindcss";
@import "./carbon-theme.css";

@media (prefers-reduced-motion: no-preference) {
	*,
	*::before,
	*::after {
		transition-property: color, background-color, border-color,
			text-decoration-color, fill, stroke, opacity, box-shadow;
		transition-timing-function: ease-in-out;
		transition-duration: 150ms;
	}
}
